@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;700&family=Nunito:wght@200;300;400;600;700&family=Poppins:ital,wght@0,200;0,600;1,400&family=Roboto:wght@100;300;400;500;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}

body {
    background-image: url('https://images.hdqwalls.com/download/lilo-and-stitch-r9-1920x1080.jpg');
    background-size: cover;
    background-position: center right;
    min-height: 100vh;
    font-family: 'Poppins';
    display: flex;
    flex-direction: column;
    align-items: center;


}

h1 {
    font-size: 4rem;
    margin-top: 2rem;
    color: white;

}

.countdown-container {
    display: flex;

}

.big-text {
    font-sizw: 6rem;
    line-height: 1;
    margin: 0 2rem;
}
